{% extends "base.html" %}
{% block content %}
{% load static %}

<br>

<div class="row content-section text-center">
    <div class="col-12">
        <h2 class="fw-bold">Let's Get going !!!!!!!!!!</h2>
        
    </div>
    <br><br><br>

    <!-- Step 1: Enter Your Details -->
    <!-- Step 1: Enter Your Details -->
    <div class="container d-flex flex-column align-items-center mt-5">
        <div class="row text-center w-120">
            <!-- Step 1 Column -->
            <div class="col-12 mb-4 d-flex flex-column align-items-center">
                <div class="feature-icon mb-3">
                    <i class="fa-solid fa-info-circle fa-xl"></i>
                </div>
                <a href="{% url 'vehicle_valuation' %}">
                    <button type="button" class="btn btn-primary btn-lg d-flex flex-column align-items-center">
                        <img width="170px" height="140px" src="{% static 'car.png' %}" alt="Vehicle Icon" class="btn-icon mb-2">
                        Start Your Vehicle Valuation Now!
                    </button>
                </a>
            </div>
    
            <!-- Step 2 Column -->
            <div class="col-12 mb-4 d-flex flex-column align-items-center">
                <div class="feature-icon mb-3">
                    <i class="fas fa-chart-line fa-xl icon-responsive"></i>
                </div>
                <a href="{% url 'property_valuation' %}">
                    <button type="button" class="btn btn-primary btn-lg d-flex flex-column align-items-center">
                        <img width="150px" height="140px" src="{% static 'house.png' %}" alt="House Icon" class="btn-icon mb-2">
                        Start Your Real-Estate Valuation Now!
                    </button>
                </a>
            </div>
        </div>
    </div>
    
    
    
</div>


    <br>
</div>

<br>

{% endblock %}